<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
 
<!-- Enable AspectJ style of Spring AOP -->

<!--   	<context:component-scan base-package="com.journaldev.spring.controller">
 <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
 	</context:component-scan> -->
 
     <!-- 	<context:component-scan base-package="com.journaldev.spring.controller"/> -->
 
   <!-- 
    <context:component-scan base-package="com.yourcompany.foo" use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
		<context:include-filter expression="com.your.CustomAnnotation" type="annotation"/>
	</context:component-scan
	
	 -->
	 
     <context:component-scan base-package="com.journaldev.spring.controller"/>
<aop:aspectj-autoproxy />
 
<!-- Configure Aspect Beans, without this Aspects advices wont execute -->
 <bean name="AspectLog" class="com.journaldev.spring.controller.AspectLog" /> 

 
<!--  <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" >
  <property name="proxyTargetClass" value="true"/>
</bean> -->

</beans>
